name: Pre-Commit Workflow

on:
  push:
    branches: [ master, dev ]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
      - review_requested

jobs:
  pre_commit:
    name: pre-commit
    runs-on: ubuntu-latest

    if: ${{ !github.event.pull_request.draft }}
    steps:
    - name: Checkout
      uses: actions/checkout

    - name: Install Python
      uses: actions/setup-python
      with:
        python-version: '3.10'

    - name: Run pre-commit
      uses: pre-commit/action
      with:
        extra_args: --verbose --all-files
